<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Dynamics automation suite">


	<parameter name="URL"
		value="https://alcumusmain.crm4.dynamics.com/main.aspx" />

	<test name="SCC Clinet tests">

		<classes>
			<class name="AlcumusQa.SccClientTest" />


		</classes>
	</test>
	<!--Test -->
</suite> 

