<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Dynamics automation suite">


	<parameter name="URL" value="${URL}" />

	<test name="SCC Clinet tests">

		<classes>
			<class name="AlcumusQa.SccClientTest">
				<methods>
					<include name="SccClientSalesProcess" />
				</methods>
			</class>
			<class name="AlcumusQa.SafeContractorTest">
				<methods>
					<include name="safeContractorSalesProcess" />
				</methods>
			</class>
		</classes>
	</test>
	<!--Test -->
</suite> 

